@tailwind base;
@tailwind components;
@tailwind utilities;

         
.btn-grad {
    background-image: linear-gradient(to right, #F00000 0%, #DC281E  51%, #F00000  100%);
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
   
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 

  html{
    background-color: black;
  }